<h1>Andrew Stuntz</h1>
  <p>I am a software developer that has focused mostly on writing awesome Ruby</p>
  <p>Developer of Software - Drinker of Beer - Adventurer of the Outdoors</p>
<h1 class=underline> Things I like:<h1>
<ul>
  <li>Bicycles</li>
  <li>Good Beer!</li>
  <li>Ruby</li>
  <li>Problem Solving</li>
  <li>JavaScript</li>
  <li>Rivers</li>
  <li>Beautiful software</li>
  <li>Camp Fires</li>
</ul>
<h1 class=underline>Things I don't like:<h1>
<ul>
  <li>Out of control codebases</li>
  <li>Spending all my time indoors</li>
</ul>
