<td class= 'quarter align-top'>
  <%= image_tag 'ProfilePicture.jpg' %>
</td>
<td class= 'half'>
  <h1>Hello, My name is Andrew Stuntz</h1>
    <p>I am a software developer that has focused mostly on writing awesome Ruby.</p>
  <h1 class=underline> Things I like:<h1>
  <ul>
    <li class='home'>Bicycles</li>
    <li class='home'>Good Beer!</li>
    <li class='home'>Rivers</li>
    <li class='home'>Camp Fires</li>
  </ul>
  <h1 class=underline> Things I write:<h1>
  <ul>
    <li class='home'>Ruby</li>
    <li class='home'>JavaScript</li>
  </ul>
  <h1 class=underline> I currently:<h1>
  <ul>
    <li class='home'>
      Build software for Brivity, a Real Estate CRM, IDX, and transaction management system
    </li>
    <li class='home'>
      Have been working on some other projects too!
    </li>
    <li class='home'>
      Sometimes get outside too!
    </li>
  </ul>
</td>
