<h1 class=underline>Resume</h1>
<h2 class=underline>Education</h2>
<h3>Fort Lewis College</h3>                                     
<p>B.S. in Engineering-Physics, April 2015</p>
<p>A.S. in Mathematics, April 2015</p>                        
<h2 class=underline>Technical Repertoire</h2>
<table>
  <tbody>
    <tr>
      <td class=third>Ruby on Rails</td>
      <td class=third>JavaScript (ES6)</td>
      <td class=third>HTML, Haml, ERB, CSS, SASS</td>
    </tr>
    <tr>
      <td class=third>RSpec & Capybara</td>
      <td class=third>CoffeeScript</td>
      <td class=third>SQLite, Postgres </td>
    </tr>
    <tr>
      <td class=third>New Relic</td>
      <td class=third>Heroku</td>
      <td class=third>Digital Ocean </td>
    </tr>
    <tr>
      <td class=third>Python</td>
      <td class=third>Arduino IDE</td>
      <td class=third>LabView                </td>
    </tr>
    <tr>
      <td class=third>TDD, Integration and Unit Testing</td>
      <td class=third>User Metric Collection</td>
      <td class=third>Git (on GitHub) </td>
    </tr>
  </tbody>
</table>  
<h2 class=underline>Relevant Work Experience</h2>
<h3>Software Developer at Brivity Inc.</h3>
<h4>Software Developer November 2016 to Current</h4>                               
<h4>Bellingham, WA</h4> 
<ul>
  <li><p>Helped to efficiently grow the software development team from an initial 4 to 12 developers. </p></li>
  <li><p>Worked to implement a culture of pairing, code review, and personal code stewardship. </p></li>
  <li><p>Implemented a variety of features for the platform, CRM, and transactional management products.</p></li>
  <li><p>Documented software engineering process to ensure uniform development practice across the entire distributed team. </p></li>
  <li><p>Ensured the quality of our entire test suite, creating a more reliable, consistent development environment.</p></li>
  <li><p>Communicated development work, deploy notes, metrics, and usage information to a variety of stakeholders. </p></li>
</ul>
<h3>Junior Web Developer  at E7 Systems</h3>             
<h4>Junior Software Developer April 2016 to November 2016</h4>
<h4>Durango, CO</h4>
<ul>
  <li><p>Writing extensible code for use in a variety of projects.</p></li>
  <li><p>Developed code for consuming a multitude of web based API’s. As well as experience building custom API’s for web and mobile applications. </p></li>
  <li><p>Utilizing MV anything and MVC frameworks including Angular 2, Ruby on Rails, and Ionic 2.</p></li>
  <li><p>Continually writing unit tests.</p></li>
  <li><p>Communicating with remote team members using Skype, Google Docs, and Slack. </p></li>
  <li><p>Code reviews and source control using Git hosted on GitHub.</p></li>
</ul>

<h3>Graduate Research Assistant at the University of New Mexico</h3>     
<h4>Graduate Research Assistant August 2015  to December 2015</h4>
<h4>Albuquerque, NM</h4>
<ul>
  <li><p>Research and Design of Heterogeneous Robotic Control Systems</p></li>
  <li><p>Multi Robotic integration in the Robotic Operation System</p></li>
  <li><p>Modeling and implementation of control systems in MATLAB and Python </p></li>
</ul>

<h3>Fort Lewis College Robotics Lab</h3>                    
<h4>Lab Lead and Coordinator Spring 2013 to Spring 2015</h4>                    
<h4>Durango, CO</h4>
<ul>
  <li><p>Bayfield Middle School Robotics Team Leader</p></li>
  <li><p>Running and maintaining the Platypus Lutra Robotic Boat</p></li>
  <li><p>Data sampling in high altitude Colorado Lakes and Reservoirs with the Platypus Lutra Boat</p></li>
</ul>

<h3>Student Researcher in the VerLAB at Universidade Federal de Minas Gerais</h3>       
<h4>Graduate Researcher July 2015  to August 2015</h4>
<h4>Belo Horizonte, Minas Gerais, Brazil</h4> 
<ul>
  <li><p>Integrating the EPuck Robotic Platform with the Robotic Operation System</p></li>
  <li><p>Exploring and implementing a velocity obstacle control algorithm on the EPuck Robot in ROS</p></li>
  <li><p>Immersing myself in Brazilian culture and the Portuguese language</p></li>
</ul>

<h3>Oregon State University Robotics Decision Making Laboratory</h3>        
<h4>Undergraduate Team Member Summer 2014</h4>
<h4>Corvallis, OR</h4>
<ul>
  <li><p>Designed and built an Aquatic Surface Vehicle (ASV) for data sampling in remote areas</p></li>
  <li><p>Developed systems to allow the Aquatic Surface Vehicle to run autonomously 10 miles from its base position </p></li>
  <li><p>Incorporated robotics systems and software including the Pixhawk Flight Management Unit and the Robot Operation System (ROS)</p></li>
</ul>
</p>
<h3>Colorado Space Grant Consortium</h3>                 
<h4>Robotics Team Lead Fall 2013 to Spring 2015</h4>
<h4>Durango, CO</h4>
<ul>
  <li><p>Designed a weather balloon payload to measure methane in the atmosphere from 5000 feet above sea level to 100,000 feet above sea level</p></li>
  <li><p>Developed software to measure methane for 5 hours</p></li>
  <li><p>Incorporated a payload management system to control batteries and heat the payload</p></li>
</ul>
<h2 class=underline>Certifications</h2>
<ul>
  <li><p>Passed the Fundamentals of Engineering Exam on February 20th 2015</p></li>
</ul>
<h2 class=underline>Volunteer Experience </h2>
<h3>Engineers Without Borders</h3>
<h3>Durango, CO</h3>
<ul>
  <li><p>Marco Pamba Team Lead and Club Treasurer Spring 2013 to Fall 2015</p></li>
  <li><p>Designed a sustainable and affordable latrine to be built in third world countries</p></li>
  <li><p>Lead a team of 9 students in Ecuador building latrines</p></li>
</ul>

<h2 class=underline>Peer-Reviewed Research</h2>
<ul>
  <li>[1] A. Stuntz, D. Liebel, and R. N. Smith, “Increasing navigation accuracy and localization for autonomous gliders to enable persistent autonomy,” in MTS/IEEE Oceans, 2015, accepted.</li>  
  <li>[2] S.-H. Yoo, A. Stuntz, Y. Zhang, R. Rothschild, G. A. Hollinger, and R. N. Smith, “Experimental analysis of receding horizon planning for marine monitoring,” in Proceedings of The 10th International Conference on Field and Service Robotics, 2015, accepted.</li>
  <li>[3] Stuntz, Andrew, Jonathan Scott Kelly, and Ryan Neal Smith. “Enabling Persistent Autonomy for Underwater Gliders with Ocean Model Predictions and Terrain Based Navigation.” Frontiers in Robotics and AI 3 (2016)</li>
</ul>
