
@font-face
  font-family: Droid Sans
  src: url('https://fonts.googleapis.com/css?family=Droid+Sans')

html
  font-family: Droid Sans

body
  margin: 0px
  font-family: Droid Sans
  background: #5495ff
  border: solid 2px #5495ff

table
  width: 100%
  border-spacing: 0px

li.home
  font-size: .6em

.big-icons
  font-size: 28px
  text-decoration: none
  &hover, &visited
    text-decoration: none

.demarginify
  margin: 0

.display-inline-block
  display: inline-block

.align-top
  vertical-align: top

.quarter
  width: 25%

.half
  width: 50%

.third
  width: 33%

.main
  border-radius: 2px
  margin: .1em

.black
  background: black

.white
  background: white
  color: black

.sidebar-links
  display: flex
  flex-direction: column
  margin-top: 20px
  margin-left: 20px

.sidebar
  margin-top: 20px
  margin-left: 20px
  display: flex
  flex-direction: column
